<div class="container p-4">
  <h4>Export Report:</h4>
  <form (submit)="submit()">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="beginDate">Begin Date</label>
          <input type="date" class="form-control" id="beginDate" name="beginDate" [(ngModel)]="formData.beginDate">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="endDate">End Date</label>
          <input type="date" class="form-control" id="endDate" name="endDate" [(ngModel)]="formData.endDate">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="companyId">Company:</label>
          <select class="form-control" id="companyId" name="companyId" [(ngModel)]="formData.companyId">
            <option value="null">-</option>
            <option *ngFor="let c of companies" [ngValue]="c.id">{{c.name}}</option>
          </select>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="layout">Layout Type:</label>
          <select class="form-control" id="layout" name="layout" [(ngModel)]="formData.layout">
            <option value="ANY">Any</option>
            <option value="BOX">Box</option>
            <option value="UNITY">Unity</option>
          </select>
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>

